.notifi {

}

.label {
  display: inline-block;
  max-width: 100%;
  padding: 3px 7px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  white-space: normal;
  vertical-align: middle;
  background-color: rgb(208, 45, 45);
  border-radius: 10px;
  color: #f9f9f9;
}
