@import "globals.core";

$toolbar-background: #2F5C66 ;
$background-color:  #f0f0f0;

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B,
   blue:      #2F5C66
);

  //  #2F5C66,
